.treatment-type {
	padding-bottom: 50px;
	float: left;
}

.treatment-type-image-container {
	width: 100%;
	padding: auto;
}

.treatment-type-image {
	width: 100%;
	height: auto;
}

.treatment-type-name {
	background: #c2457e;
	padding: 1% 3%;
	font-weight: bold;
	font-size: 5em;
	font-family: 'AlexBrush';
}

@media (max-width: 400px) {
	.treatment-type-name {
		font-size: 3em;
	}
}