.about-container {
	background: #f2d9f1;
  color: #fff;
  width: 33.33%;
  float:left;
}

.about {
  margin: auto;
	color: #fff;
  padding-bottom: 30px;
  background: #c2457e;
  padding-bottom: 30px;
}

.pic-bev {
  width: 70%;
  height: 180px;
  margin: auto;
  background: url('./images/bev-2.png') no-repeat;
  background-size: cover;
  background-position: center; 
}

.write-up {
  width: 80%;
  margin: auto;
  font-size: 0.7em;
}

