.about {
	width: 100%;
	color: #fff;
	background: #94618E;
	padding-bottom: 30px;
}

.pic-bev {
  width: 90%;
  height: 500px;
  margin: auto;
  background: url('./images/bev-2.JPG') no-repeat;
  background-size: cover;
}

.write-up {
  width: 80%;
  margin: auto;
  font-size: 1.4em;
}