.about-container {
	background: #f2d9f1;
  color: #fff;
  width: 100%;
}

.about {
  max-width: 800px;
  margin: auto;
	color: #fff;
  padding-bottom: 30px;
  background: #c2457e;
  padding-bottom: 30px;
}

.pic-bev {
  width: 90%;
  height: 400px;
  margin: auto;
  background: url('./images/bev.png') no-repeat;
  background-size: cover;
  background-position: center; 
}

.write-up {
  width: 80%;
  margin: auto;
  font-size: 1.4em;
}

@media (min-width: 640px) {
  .pic-bev {
    width: 40%;
    float: left;
  }

  .write-up {
    width: 40%;
    float: left;
    padding-left: 50px;
  }

  .about {
    height: 690px;
    padding: 0 0 50px 50px
  }
}