.contact-container {
  width: 100%;
  color:#fff;
  background: #333;
  padding-bottom: 50px;
  float: left;
}

.contact-form {
  max-width: 800px;
  margin: auto;
}

.contact-form a {
  color: #fff;
  text-decoration: none;
}

.contact-form a:hover {
  text-decoration: underline;
}


.contact-form-info {
  padding: 010px;
}

.contact-form-input {
  width:80%;
  height: 30px;
  margin-top: 5px;
  border: 3px solid #eee;
  color: #eee;
  padding: 10px;
}

.contact-form textarea {
  min-height: 100px;
}

.contact-form-submit {
  width: 20% !important;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  color: #eee;
  background: #94618E;
  padding: 10px;
  font-size: 2em;
  font-family: 'EuphoriaScript';
}

.contact-form-submit:hover {
  filter: brightness(1.2);
}

