.contact-container {
  width: 32.9%;
  color:#fff;
  background: #333;
  float: left;
}

.contact-form {
  max-width: 800px;
  margin: auto;
  font-size:1em!important;
}

.contact-form a {
  color: #fff;
  text-decoration: none;
}

.contact-form-info {
  padding: 0 10px;
  font-size: 0.7em;
  margin-top:40px;
  
}

.contact-form-input {
  display:none;
}

.contact-form-submit {
  display:none;
}

.contact-footer {
  margin-top: 110px;
  padding-bottom: 15.5px;
}


