.contact {
  width: 100%;
  background: #94618E;
  color:#fff;
  padding: 50px 0;
}

.contact a {
  color: #F8EEE7;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.contact-form {
  width:80%;
  margin: auto;
  padding-bottom: 50px;
  background: #222;
}

.contact-form-input {
  width:80%;
  height: 30px;
  margin-top: 5px;
  border: 3px solid #eee;
  color: #eee;
  padding: 10px;
}

.contact-form textarea {
  min-height: 100px;
}

.contact-form-submit {
  width: 30% !important;
  height: 50px;
  margin-top: -20px;
  color: #eee;
  background: #94618E;
  padding: 10px;
  font-size: 2em;
  font-family: 'EuphoriaScript';
}