.gallery-container {
  background-color: #eee;
  width: 100%;
}

.image {
  width: 400px;
  height: 400px;
  border: 2px solid #eee;
  margin: 0 0 -5px 0;
  padding: 0;
}

@media (max-width: 822px) {
  .image {
    width: 47vw;
    height: 47vw;
  }
}

@media (max-width: 640px) {
  .image {
    width: 100vw;
    height: 100vw;
  }
}
