.header {
  background-color: #5f1f5c;
  width: 34%;
float:right;  
padding-top: 10px;
}

.logo {
  width: 32px;
  height: 30px;
  margin: 10px;
  background: url(images_raw/logo2.png);
  background-size: contain;
  float: left;
  -webkit-filter: invert(100%);
}

.title {
  color:#fff;
  text-align: left;
  padding-left: 20px;
  margin-top:15px;
  font-size: 1em;

}