.header {
  background-color: #5f1f5c;
  width: 100%;
  position: absolute;
  top: 0;
}

.logo {
  width: 64px;
  height: 60px;
  margin: 10px;
  background: url(images_raw/logo2.png);
  background-size: contain;
  float: left;
  -webkit-filter: invert(100%);
}

.title {
  color:#fff;
  text-align: left;
  padding-left: 20px;
}

@media (max-width: 440px) {
  .title {
    font-size: 1.75em;
  }

  .logo {
    width: 48px;
    height: 45px;
  }
}


@media (max-width: 380px) {
  .title {
    font-size: 1.5em;
  }

  .logo {
    width: 32px;
    height: 30px;
  }
}