.background-image {
  width: 100%;
  height: 92vh;
  background: url('./images/background-image.png') no-repeat;
}

.slogan {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2vh 0;
  font-size: 8vw;
  font-style: italic;
  font-family: cursive;
  color: #333;
}