.background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: -1;
  background: url(./images/background-image.png) no-repeat;

}

@media (max-width: 800px) {
  .background-image {
    background-position: center;
  }  
}

.slogan-container {
  width: 100%;
  height: 100vh;
}

.slogan {
  width: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2vh 2vh;
  font-size: 4em;
  font-style: italic;
  font-weight: bold;
  font-family: 'EuphoriaScript';
  text-align: right;
  color: #333;
}

@media (max-width: 370px) {
  .slogan {
    font-size: 3em;
  }
}

@media (max-width: 280px) {
  .slogan {
    font-size: 2em;
  }
}

@media (min-width: 801px) {
  .slogan {
    font-size: 5em;
  }
}

@media (min-width: 1080px) {
  .slogan {
    font-size: 6em;
  }
}

@media (min-width: 1500px) {
  .slogan {
    font-size: 7em;
  }
}