.treatment {
	background: #c2457e;
	color: #222;
	float: left;
	display: table-row;
	width: 100%;
}

.treatment-name {
	width: 75%;
	text-align: left;
	float: left;
	font-weight: bold;
	font-size: 1em;
	padding: 10px 10px 0 10px;
	background-color: #FFF;
	display: table-cell;
}

.treatment-description {
	width: 75%;
	text-align: left;
	clear: left;
	float: left;
	font-style: italic;
	font-size: 1em;
	padding: 5px 10px 10px 10px;
	background-color: #FFF;
	display: table-cell;
	min-height: 30px;
}

.treatment-price {
	float: right;
	text-align: right;
	font-weight: bold;
	font-size: 1.7em;
	color: #FFF;
	display: table-cell;
	vertical-align: middle;
	padding: 10px 10px 0 0;
}

@media (max-width: 360px) {
	.treatment-description, .treatment-name {
		width: 65%;
	}
}