.treatment {
	margin-top: 10px;
}

.treatment table {
	display: table
}

.treatment-sub-category-name {
	font-size: 1.5em;
	float: left;
	width: 90%;
	text-transform: uppercase;
	text-align: left;
	padding: 15px 0 0 15px;
}

.treatment-sub-category-description {
	float: left;
	width: 90%;
	text-align: left;
	color: #f2d9f1;
	padding: 15px;
}