.treatment-type {
	padding-bottom: 50px;
	float: left;
	width: 33.33%;
}

.treatment-type-image {
	width: 33.33%;
	height: auto;
	display:none;
}

.treatment-type-name {
	background: #c2457e;
	font-weight: bold;
	font-size: 2em;
	margin: 10px;
	font-family: 'AlexBrush';
}
