.treatment {
	background: #c245bc;
	color: #222;
	float: left;
	display: table-row;
	width: 100%;
}

.treatment-name {
	width: 85%;
	text-align: left;
	float: left;
	font-weight: bold;
	font-size: 1em;
	padding-left: 2%;
	padding-top: 1%;
	background-color: #F8EEE7;
	display: table-cell;
}

.treatment-description {
	width: 85%;
	text-align: left;
	clear: left;
	float: left;
	font-style: italic;
	font-size: 1em;
	padding-left: 2%;
	background-color: #F8EEE7;
	display: table-cell;
	min-height: 30px;
}

.treatment-price {
	width: 9%;
	height: 100%;
	float: right;
	text-align: right;
	font-weight: bold;
	font-size: 1.7em;
	padding: 1% 2% 1% 0;
	color: #F8EEE7;
	display: table-cell;
	vertical-align: middle;
}